body {
    background-color: #D4F6CC;
}

hr {
    border-style:none;
    border-top-style: dotted;
    border-width: 3px;
    border-color: #3CCF4E;

    width: 20%;
}

img{
    height: 60%;
}

h1{
    color: #EF5B0C ;
}

h3{
    color: #EF5B0C ;
}

a {
    text-decoration: none;
    color: #3CCF4E;
}


