body{
    font-family: 'Merriweather', serif;
    margin: 0;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}
.topcontainer{
    background-color: #E7F6F2;
    position:relative;
    padding-top: 100px;
}

h1{
    font-family: 'Sacramento', cursive;
    margin-top:0;
    
    /* margin: [top - right - bottom - left] */
}

h2{
    font-family: 'Montserrat', sans-serif;
}

h3{
    font-family: 'Montserrat', sans-serif;
}

.top-cloud{
    position: absolute;
    right:300px;
    top:50px;
}

.bottom-cloud{
    position: absolute;
    left:300px;
    bottom:300px;
}

.middlecontainer{
    width: 200px;
    height: 200px;
    background-color: red;
}

.bottomcontainer{
    width: 200px;
    height: 200px;
    background-color: blue;
}